* {
	font-size: 18px;
}

.container {
	width: 50%;
	margin: 1em auto;
}

h1 {
	color: violet;
}

td {
	width: 5em;
	height: 5em;
	border: 1px solid black;
	text-align: center;
}

.ligne_form {
	margin-top: 1em;
}